<a href="https://nodejs.org/en/download/">Download Node.js</a>
<br>
<a href="https://www.npmjs.com/package/express">Install Express</a>
<br>
<a href="https://www.mongodb.com/try/download/community">Download MongoDB Community Server</a>